.list{
    text-align: left;
    padding: 0;
    list-style: none;
    
}
li.row{
    margin: 0;
}
.list span {
    padding: 0;
    font-size: 19px;
}
.list button {
    font-size: 19px;

}
.no-item{
    font-size: 22px;

}